body
    { 
            background-color: #F6FFA4;

    }

h1
{
    color: orange;

}

h3
{
    color: orange;
}

hr 
    {
            
            border-style: dotted none none;
            border-color: gray;
            height: 500px;
            width: 5%;
            
    }

